<head>
        <meta charset="utf-8">
        <title>BCC Attendance Tracker</title>
        <meta name="description" content="Record attendence of a Boston Code Camp event.">
          
        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="jquery-editable-select.min.css" rel="stylesheet">
        <link rel="stylesheet" href="main.css">
          
        <!-- JS, Popper.js, jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="jquery-editable-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Robo+Slab' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
      </head>
      <body>    
        <nav class="navbar sticky-top navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="boscc.jpg" width="50" height="30" alt="">
            </a>
            <div id="siteName" class="navbar-collapse collapse w-100">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Boston Code Camp</a>
                    </li>
                </ul>
            </div>
            <div id="menuItems" class="navbar-collapse collapse w-100">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Attendance Tracker</h1>
            <p class="lead">Record attendance for the Boston Code Camp event.</p>
          </div>
        </div>
        
        <style>
            .btn-group button {
                background-color: #4CAF50; /* Green background */
                border: 1px solid green; /* Green border */
                color: white; /* White text */
                padding: 10px 24px; /* Some padding */
                cursor: pointer; /* Pointer/hand icon */
                float: left; /* Float the buttons side by side */
            }
            
            /* Clear floats (clearfix hack) */
            .btn-group:after {
                content: "";
                clear: both;
                display: table;
            }
            
            .btn-group button:not(:last-child) {
                border-right: none; /* Prevent double borders */
            }
            
            /* Add a background color on hover */
            .btn-group button:hover {
                background-color: #3e8e41;
            }
            </style>

            <div class="btn-group" style="width:100%">
                <button style="width:25%" onclick="location.href='/addroom'" type="button">Rooms</button>
                <button style="width:25%" onclick="location.href='/addspeaker'" type="button">Speakers</button>
                <button style="width:25%" onclick="location.href='/addtime'" type="button">Time Slots</button>
                <button style="width:25%" onclick="location.href='/addsession'" type="button">Sessions</button>
            </div>
