<!DOCTYPE html>
<html lang="en-US">
        <% include ../partials/header.ejs %>
        <ul id="menuTabs" class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a id="rooms-tab" class="nav-link active" href="/addroom">Rooms</a>
            </li>
            <li class="nav-item">
                <a id="speakers-tab" class="nav-link" href="/addspeaker">Speakers</a>
            </li>
            <li class="nav-item">
                <a id="timeSlots-tab" class="nav-link" href="/addtime">Time Slots</a>
            </li>
            <li class="nav-item">
                <a id="sessions-tab" class="nav-link" href="/addsession">Sessions</a>
            </li>
        </ul>
        

        <div id="menuTabsContent" class="tab-content">
            <div class="tab-pane fade show active" id="rooms" role="tabpanel">
                    
                <h1>Rooms</h1>
                
                <ul class="nav nav-pills">
                            <li class="nav-item">
                              <a class="nav-link active" href="addroom">Add</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="editroom">Edit</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="deleteroom">Delete</a>
                            </li>
                    
                          </ul>
            <div class="container">
                    <% if (message != '') { %>
                        <p class="text-center text-danger"><%= message %></p>
                    <% } %>
                    <form class="add-Room-form" method="post" enctype="multipart/form-data">
                        <table class="formTable">   
                            <tr>
                                <td>
                                <label>Room Name</label>
                                <input type="text" class="form-control" name="room_name" id="room-name" placeholder="Room Name" required>
                                </td>
                                <td></td>
                                <td>
                                <label>Capacity</label>
                                <input type="number" class="form-control" name="capacity_id" id="capacity-id" placeholder="Capacity" min="0">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                <button type="submit" class="btn btn-primary submit">Add Room</button>
                                <button type="reset" class="btn btn-primary clear" >Clear Fields</button>
                                </td>
                            </tr>
                            </table>  
                    </form>
                </div>

        </div>
  </body>
</html>