<!DOCTYPE html>
<html lang="en-US">
        <% include ../partials/header.ejs %>

        
        <div>
            <a class="button_horizontal" href="/addroom">Add | </a>      
            <a class="button_horizontal" href="/editroom">Edit |</a>
            <a class="button_horizontal" href="/deleteroom">Delete</a>
        </div>
        <div id="menuTabsContent" class="tab-content">
            <div class="tab-pane fade show active" id="rooms" role="tabpanel">
            <div class="container">
                    <% if (message != '') { %>
                        <p class="text-center text-danger"><%= message %></p>
                    <% } %>
                    <form class="add-Room-form" action="" method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Room Name</label>&nbsp;
                                <input type="text" class="form-control" name="room_name" id="room-name" placeholder="Room Name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Capacity</label>&nbsp;
                                <input type="text" class="form-control" name="capacity_id" id="capacity-id" placeholder="Capacity" required>
                            </div>
                            <!-- <label>Room Name</label>&nbsp;
                            <select id="editable-select" style="border-color: #ced4da; border-width: 1px;">
                                <% room.forEach((room, addroom) => { %>
                                    <option><%= room.RoomName %></option>
                                <% }) %>
                            </select> -->
                        </div>
                        
                        <button type="submit" class="btn btn-primary float-right">Add Room</button>
                    </form>
                </div>

        </div>
    </main>
    <script>
        $('#editable-select').editableSelect();
    </script>
  </body>
</html>