<!DOCTYPE html>
<html lang="en-US">
        <% include ../partials/header.ejs %>
        <ul id="menuTabs" class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a id="rooms-tab" class="nav-link" href="addroom" >Rooms</a>
            </li>
            <li class="nav-item">
                <a id="speakers-tab" class="nav-link active" href="addspeaker" >Speakers</a>
            </li>
            <li class="nav-item">
                <a id="timeSlots-tab" class="nav-link" href="addtime" >Time Slots</a>
            </li>
            <li class="nav-item">
                <a id="sessions-tab" class="nav-link" href="addsession" >Sessions</a>
            </li>
        </ul>

    
        <div id="menuTabsContent" class="tab-content">
            <div class="tab-pane fade show active" id="speaker" role="tabpanel">
                    <h1>Speakers</h1>
                
                    <ul class="nav nav-pills nav">
                                <li class="nav-item">
                                  <a class="nav-link active" href="addspeaker">Add</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="editspeaker">Edit</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="deletespeaker">Delete</a>
                                </li>
                        
                    </ul>
            
                <div class="container">
                    <% if (message != '') { %>
                        <p class="text-center text-danger"><%= message %></p>
                    <% } %>
                    <form class="add-Speaker-form" action="" method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>First Name</label>&nbsp;
                                <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Last Name</label>&nbsp;
                                <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name" required>
                            </div>
                            <div class="form-group col-md-4">
                                    <label>Email</label>&nbsp;
                                    <input type="email" class="form-control" name="email" id="email-id" placeholder="Email" required>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary submit">Add Speaker</button>
                        <button type="reset" class="btn btn-primary clear">Clear Fields</button>
                    </form>
                </div>

        </div>
    </main>
  </body>
</html>