<!DOCTYPE html>
<html lang="en-US">
        <% include ../partials/header.ejs %>

        
        <div>
            <a class="button_horizontal" href="/addtime">Add | </a>      
            <a class="button_horizontal" href="/edittime">Edit |</a>
            <a class="button_horizontal" href="/deletetime">Delete</a>
        </div>
        <div id="menuTabsContent" class="tab-content">
            <div class="tab-pane fade show active" id="time" role="tabpanel">
            <div class="container">
                    <% if (message != '') { %>
                        <p class="text-center text-danger"><%= message %></p>
                    <% } %>
                    <form class="add-Time-form" action="" method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <label>Start Time : </label> 
                            <select name="start_hour_dropdown" id="start_hour_dropdown" style="border-color: #ced4da; border-width: 1px;">
                                <option name="start_hour_dropdown" id="start_hour_dropdown">1</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">2</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">3</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">4</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">5</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">6</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">7</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">8</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">9</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">10</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">11</option>
                                <option name="start_hour_dropdown" id="start_hour_dropdown">12</option>
                            </select>

                            <select name="start_minute_dropdown" id="start_minute_dropdown" style="border-color: #ced4da; border-width: 1px;">
                                <option name="start_minute_dropdown" id="start_minute_dropdown">:00</option>
                                <option name="start_minute_dropdown" id="start_minute_dropdown">:15</option>
                                <option name="start_minute_dropdown" id="start_minute_dropdown">:30</option>
                                <option name="start_minute_dropdown" id="start_minute_dropdown">:45</option>
                            </select>

                            <select name="start_am_pm_dropdown" id="start_am_pm_dropdown" style="border-color: #ced4da; border-width: 1px;">
                                <option name="start_am_pm_dropdown" id="start_am_pm_dropdown">AM</option>
                                <option name="start_am_pm_dropdown" id="start_am_pm_dropdown">PM</option>
                                    
                            </select>
                            <label>  </label>
                            <Label>End Time : </Label>
                            <select name="end_hour_dropdown" id="end_hour_dropdown" style="border-color: #ced4da; border-width: 1px;">
                                <option name="end_hour_dropdown" id="end_hour_dropdown">1</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">2</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">3</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">4</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">5</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">6</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">7</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">8</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">9</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">10</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">11</option>
                                <option name="end_hour_dropdown" id="end_hour_dropdown">12</option>
                            </select>
                            <select name="end_minute_dropdown" id="end_minute_dropdown" style="border-color: #ced4da; border-width: 1px;">
                                <option name="end_minute_dropdown" id="end_minute_dropdown">:00</option>
                                <option name="end_minute_dropdown" id="end_minute_dropdown">:15</option>
                                <option name="end_minute_dropdown" id="end_minute_dropdown">:30</option>
                                <option name="end_minute_dropdown" id="end_minute_dropdown">:45</option>
                            </select>
                            <select name="end_am_pm_dropdown" id="end_am_pm_dropdown" style="border-color: #ced4da; border-width: 1px;">
                                <option name="end_am_pm_dropdown" id="end_am_pm_dropdown">AM</option>
                                <option name="end_am_pm_dropdown" id="end_am_pm_dropdown">PM</option>
                            </select>
                        </div>
                        
                        <button type="submit" class="btn btn-primary float-right">Add Time</button>
                    </form>
                </div>

        </div>
    </main>
    <script>
        $('#editable-select').editableSelect();
    </script>
  </body>
</html>