<!DOCTYPE html>
<html lang="en-US">

<% include ../partials/header.ejs %>
        <ul id="menuTabs" class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a id="rooms-tab" class="nav-link" href="addroom" >Rooms</a>
            </li>
            <li class="nav-item">
                <a id="speakers-tab" class="nav-link" href="addspeaker" >Speakers</a>
            </li>
            <li class="nav-item">
                <a id="timeSlots-tab" class="nav-link active" href="addtime" >Time Slots</a>
            </li>
            <li class="nav-item">
                <a id="sessions-tab" class="nav-link" href="addsession" >Sessions</a>
            </li>
        </ul>
        <div id="menuTabsContent" class="tab-content">
            <div class="tab-pane fade show active" id="time" role="tabpanel">
                    <h1>Time Slots</h1>
        
                    <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" href="addtime">Add</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="edittime">Edit</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="deletetime">Delete</a>
                                </li>
                        
                    </ul>
            <div class="container">
                    <% if (message != '') { %>
                        <p class="text-center text-danger"><%= message %></p>
                    <% } %>
                    <form class="delete-Time-form" action="" method="post" enctype="multipart/form-data">
                        <div class="form-row formTable">
                            <label>Select a time slot to delete: </label><br/>
                            <select name="exisiting_time_dropdown" class="selectpicker" onchange="showFields()" id="exisiting_time-dropdown" data-width="500px" title="-Select a Time Slot-">
                                <% time.forEach((time, edittime) => { %>
                                        <% 
                                        start_time = time.TimePoint_Start;
                                        end_time = time.TimePoint_End;
                                        start_time_split = start_time.split(":")
                                        end_time_split = end_time.split(":")
                                        if(parseInt(start_time) >= 12){
                                            start_time = parseInt(start_time) - 12;
											if(start_time == 12){
												start_time = start_time.toString() + ":"+ start_time_split[1] + " PM"
											}
											else {
												start_time = "0"+start_time.toString() + ":"+ start_time_split[1] + " PM"
											}
                                        }
                                        else{
                                            start_time = start_time_split[0] + ":" + start_time_split[1] + " AM"
                                        }
                                        if( parseInt(end_time) >= 12){
                                            end_time = parseInt(end_time) - 12;
											if(end_time == 12){
											    end_time = end_time.toString() + ":"+ end_time_split[1] + " PM"
											}
											else {
											    end_time = "0"+end_time.toString() + ":"+ end_time_split[1] + " PM"
											}
                                        }
                                        else{
                                            end_time = end_time_split[0] + ":" + end_time_split[1] + " AM"
                                        }
                                        %>
                                        <option name="exisiting_time_dropdown" id="time-dropdown"><%= start_time+"-"+end_time %></option>
                                    <% }) %>
                            </select>
                        </div>
                        
                        <button type="submit" class="btn btn-primary delete hiddenFields">Delete Time Slot</button>
                    </form>
                </div>

        </div>
  </body>
</html>