<!DOCTYPE html>
<html lang="en-US">

<% include ../partials/header.ejs %>
        <ul id="menuTabs" class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a id="rooms-tab" class="nav-link active" href="addroom" >Rooms</a>
            </li>
            <li class="nav-item">
                <a id="speakers-tab" class="nav-link" href="addspeaker" >Speakers</a>
            </li>
            <li class="nav-item">
                <a id="timeSlots-tab" class="nav-link" href="addtime" >Time Slots</a>
            </li>
            <li class="nav-item">
                <a id="sessions-tab" class="nav-link" href="addsession" >Sessions</a>
            </li>
        </ul>
        <div id="menuTabsContent" class="tab-content">
            <div class="tab-pane fade show active" id="rooms" role="tabpanel">
                    
                <h1>Rooms</h1>
                
                <ul class="nav nav-pills">
                            <li class="nav-item">
                              <a class="nav-link" href="addroom">Add</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="editroom">Edit</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="deleteroom">Delete</a>
                            </li>
                    
                </ul>
                <div class="container">
                    <% if (message != '') { %>
                        <p class="text-center text-danger"><%= message %></p>
                    <% } %>
                    <form class="delete-Room-form formTable" action="" method="post" enctype="multipart/form-data">
                            <label>Select a room to delete:</label><br/>
                            <p style="text-align: center">
                            <select name="room_dropdown" class="selectpicker" id="room-dropdown" onchange="showFields()" data-width="500px" title="-Select a Room-">
                                    <% room.forEach((room, deleteroom) => { %>
                                        <option name="room_dropdown" id="room-dropdown"><%= room.RoomName %></option>
                                    <% }) %>
                            </select>
                            </p>
                        </div>
                        
                        <button type="submit" class="btn btn-primary delete hiddenFields">Delete Room</button>
                    </form>
                </div>

        </div>
    </main>
  </body>
</html>