<!DOCTYPE html>
<html lang="en-US">

<% include ../partials/header.ejs %>
        <ul id="menuTabs" class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a id="rooms-tab" class="nav-link" href="addroom" >Rooms</a>
            </li>
            <li class="nav-item">
                <a id="speakers-tab" class="nav-link" href="addspeaker" >Speakers</a>
            </li>
            <li class="nav-item">
                <a id="timeSlots-tab" class="nav-link" href="addtime" >Time Slots</a>
            </li>
            <li class="nav-item">
                <a id="sessions-tab" class="nav-link active" href="addsession" >Sessions</a>
            </li>
        </ul>
        <div id="menuTabsContent" class="tab-content">
            <div class="tab-pane fade show active" id="sessions" role="tabpanel">
                <h1>Sessions</h1>
    
                <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="addsession">Add</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="editsession">Edit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="deletesession">Delete</a>
                            </li>
                    
                </ul>
            <div class="container">
                    <% if (message != '') { %>
                        <p class="text-center text-danger"><%= message %></p>
                    <% } %>
                    <form class="delete-Sessions-form" action="" method="post" enctype="multipart/form-data">
                        <div class="form-row formTable">
                            <label>Select a session to delete:</label></br>
                            <select name="session_dropdown" class="selectpicker" onchange="showFields()" id="session-dropdown" data-width="500px" title="-Select a Session-">
                                <% session.forEach((session, deletesession) => { %>
                                        <option name="session_dropdown" id="session-dropdown"><%= session.Title %></option>
                                    <% }) %>
                                </select>
                        </div>
                        
                        <button type="submit" class="btn btn-primary hiddenFields delete">Delete Session</button>
                    </form>
                </div>

        </div>
    </main>
  </body>
</html>