<!DOCTYPE html>
<html lang="en-US">
        <% include ../partials/header.ejs %>
        <div id="welcome">
            <h1>Welcome to Attendance Counter!</h1>
            <h3>Please enter credentials</h3>
		<form action="">
  		<div class="container" style="padding: 16px;">
  		<label for="uname" style="padding-left:5px;"><b>Name</b></label>
   		<input type="text" class="form-control" placeholder="Enter Name" name="username" required>
		<label for="psw" style="padding-left:5px;"><b>Daily Password</b></label>
    		<input type="password" class="form-control" placeholder="Enter Daily Password" name="password" required>
    		<button type="submit" class="btn btn-primary submit">Login</button>
	</div>
</form>
</body>
</html>
