{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>BCC Attendance Tracker</title>
    <meta name="description" content="Record attendence of a Boston Code Camp event.">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="{% static 'boston_code_camp/jquery-editable-select.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'boston_code_camp/main.css' %}">

    <!-- JS, Popper.js, jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'boston_code_camp/jquery-editable-select.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Robo+Slab' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="#">
            <img style="margin-bottom: 5px;" src="{% static 'boston_code_camp/images/bclogo.png' %}" width="20" height="30" alt="">
        </a>
        <div id="siteName" class="navbar-collapse collapse w-100">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Boston Code Camp</a>
                </li>
            </ul>
        </div>
        <div id="menuItems" class="navbar-collapse collapse w-100">
            <ul class="navbar-nav ml-auto">
                <!--
                <li class="nav-item">
                    <button class="btn btn-outline-light">
                        <img src="user-solid.svg" width="20" /> Log out
                    </button>
                </li>-->
            </ul>
        </div>
    </nav>
    <!--<div id="banner">
        <div id="wrapper">
            <div id="container">
                <img class="banner-img" src="website_banner.png" alt="">
            </div>
        </div>
    </div>-->
    <main style="margin-top: 10px;">
        <ul id="menuTabs" class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <!-- <a id="rooms-tab" class="nav-link active" href="{% url 'room-create' %}" data-toggle="tab">Rooms</a> -->
                <a id="rooms-tab" class="nav-link" href="{% url 'room-create' %}">Rooms</a>
            </li>
            <li class="nav-item active">
                <!-- <a id="speakers-tab" class="nav-link" href="{% url 'speaker-create' %}" data-toggle="tab">Speakers</a> -->
                <a class="nav-link" href="{% url 'speaker-create' %}">Speakers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'time-create' %}" >Time Slots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'session-create' %}">Sessions</a>
            </li>
        </ul>
        
            <div class="tab-pane show active" id="timeSlots" role="tabpanel">
                <h2>Time Slots</h2>
                <p>Enter a new time slot to add or select an existing time slot to edit.</p>
                <form>
                    <label>Start Time:</label>&nbsp;
                    <input type="time" style="border-color: #ced4da; border-width: 1px;">
                    <label>End Time:</label>&nbsp;
                    <input type="time" style="border-color: #ced4da; border-width: 1px;">
                    <label>Duration (min):</label>&nbsp;
                    <input type="number" min="0" max="24"><br>
                    <button type="button" class="btn btn-success">Add/Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-dark">Clear</button>
                </form>
                {% block content100 %}
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Join Today</legend>
                            {{ form }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Add</button>
                        </div>
                    </form>
                {% endblock content100 %}
            </div>
            
            
        </div>
    </main>
    <div class="footer">
        <p>Wentworth Institute of Technology | COMP-4960 | Yellow-Team</p>
    </div>
    <script>
        $('#editable-select').editableSelect();
        $('#editable-select1').editableSelect();
        $('#editable-select2').editableSelect();
        $('#editable-select3').editableSelect();
        $('#editable-select4').editableSelect();
        $('#editable-select5').editableSelect();
        $('#editable-select6').editableSelect();
        $('#editable-select7').editableSelect();
    </script>
</body>
</html>